@import org.webjars.play.WebJarsUtil
@this(webJarsUtil: WebJarsUtil, assetsPrefix: String)
<html>
    <head>
        @webJarsUtil.locate("leaflet", "dist/leaflet.css").css()
        <link rel="stylesheet" href="/@assetsPrefix/stylesheets/frontend.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/w3--css@@1.0.0/w3.min.css">
        @scalajs.html.scripts(
            "frontend",
            name => s"/$assetsPrefix/$name",
            name => getClass.getResource(s"/public/$name") != null)
    </head>
    <body>
    </body>
</html>